---
const { 
    iconUrl = "./public/header_logo_prodi.png",
    title,
    type, 
    description, 
} = Astro.props;
---
    <div class="project-card">
        <div class="card-image-container">
            <img
            src={"./public/test_projects_images.png"} 
            alt={"Proyek 1"}
            class="project-image" 
        />
    </div>
    <div class="card-content">
        <h4 class="card-title">{title}</h4>
        <p class="project-type">{type}</p>
        <p class="project-description">{description}</p>
    </div> 

<style>
    .project-card {
        background-color: white;
        border-radius: 5px; 
        overflow: hidden; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        display: flex;
        flex-direction: column;
        text-align: center; 
    }

    .project-card:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
    
    .card-image-container {
        width: 500%;
        padding: 0; 
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        padding-bottom: 56.25%;
    }
    
    .project-image {
        height: 100%;
        width: 25%; 
        display: block;
        border-radius: 0; 
        object-fit: cover; 
        position: absolute; 
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .card-content {
        padding: 10px 20px 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1; 
    }

    .card-title {
        margin: 10px 0 2px;
        font-size: 1.15rem;
        font-weight: 700;
        color: #333;
    }

    .project-type {
        margin: 0 0 15px;
        font-size: 0.9rem;
        color: #555;
        font-weight: 400;
    }

    .project-description {
        font-size: 0.95rem;
        color: #555;
        line-height: 1.5;
        text-align: center;
    }
</style>